* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  background: #caf0f8;
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin: 5px;
  margin-bottom: -40px;
}
